.cart-no{
    position: absolute;
    min-width: 23px;
    min-height: 20px;
    border-radius: 50%;
    font-size: 1em;
    background: blue;
    color: white;
    text-align: center;
    top:-12px;
    right:-7px
}

a {
    & .active{
        color: orange !important;
    }
}